
/* Basic */

a {
    color: #3CF;
    text-decoration: none;
}

a:hover {
    color: #FC3;
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    padding-bottom: 14px;
    margin-bottom: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 52px;
    margin-top: 0;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    line-height: 32px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #FC3;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 6px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    color: beige;
    font-size: 16px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    font-size: 25px;
    line-height: 22px;
}


.section-heading {
    text-align: center;
    margin-bottom: 70px;
}

.logo {
    background: url('../media/mainlogobarber.JPG') no-repeat;
    background-size: cover;
    width: 8%;
    height: 100%;
    float: left;
    line-height: 100%;
}

/* Header */
@media screen and (max-width: 1050px) {
  .main-header .logo {
      padding-left: 80px!important;
  }

  .main-menu {
      padding-right: 30px!important;
  }

  .main-menu li {
      margin-left: 5px!important;
  }
}
.main-header {
    background-color: rgba(22, 34, 57, 0.7);
    height: 80px;
    position: fixed;
    z-index: 12;
    width: 100%;
    top: 0;
}

.main-menu {
    float: right;
    padding-right: 60px;
}

.main-menu li {
    display: inline-block;
    line-height: 79px;
    margin-left: 15px;
    position: relative;
}

.main-menu li:first-child {
    margin-left: 0;
}

.main-menu li a {
    padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.main-menu li.has-submenu a:after {
    content: '\f107';
    font-family:"FontAwesome";
    margin-left: 5px;
}

.main-menu li.has-submenu ul li a:after {
    display: none;
}

.main-menu li .sub-menu {
    position: absolute;
    width: 160px;
    background-color: #18233a;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.main-menu li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.main-menu li .sub-menu li {
    display: block;
    line-height: 20px;
    margin-left: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #121b2f;
}

.main-menu li .sub-menu li:first-child {
    padding-top: 15px;
}

.main-menu li .sub-menu li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.main-menu li .sub-menu li a {
    font-size: 12px;
    font-weight: 500;
    padding: 0 15px;
    letter-spacing: 0.5px;
    border: none;
    transition: all 0.5s;
}

.main-menu li .sub-menu li a:hover {
    color: #f5a425;
    border: none;
}

.main-nav li:hover a,
.main-nav li.active a {
    border: 2px solid #f5a425;
}

@media (max-width: 950px) {
  .main-nav li:hover a,
  .main-nav li.active a {
    border: 2px solid transparent;
    border-bottom: 1px solid rgba(250,250,250,0.25);
  }
}


.main-banner .caption h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}

@media screen and (max-width: 1180px) {

  .main-banner .caption h1 {
    font-size: 58px;
  }

}
@media screen and (max-width: 767px) {

  .main-banner .caption h1 {
    font-size: 36px;
  }

}


/* Buttons */

.main-button a {
    background-color: #f5a425;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 12px 20px;
    display: inline-block;
    outline: none;
}
