
<link rel="stylesheet" href="{{ url_for('footer.static', filename='css/footer.css') }}"/>


<!--footer-->
<div class="footer" id="footer">
    <div class="logonoBg"></div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3410.7971704931574!2d34.80069108566807!3d31.25403778145852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15026642e7f470bf%3A0xa7a9cde1b8466afd!2z157XkteT15zXmSDXkNeR15nXodeo15XXqCDXqNeS16ggNTU!5e0!3m2!1siw!2sil!4v1620552638184!5m2!1siw!2sil"
                width="400px" height="290px" style="border:0; margin: 5px;" allowfullscreen="" ></iframe>
    </div>

    <div class="TextFooter" style="padding-left: 50px">
        <br>
        <h4>Omer Dahan's BarberShop</h4>
        <h4>Man Only</h4>
        <br>
        <h5>55 Rager Street</h5>
        <h5>Beer Sheva</h5>
        <a href=tel:+97205678945><h5>Tel: +97205678945</h5></a>
    </div>

</div>



