
/*footer*/
.logonoBg {
    background: url("../media/mainlogobarber.JPG") no-repeat;
    background-size: contain;
    width: 25%;
    height: 75%;
    float: left;
    margin: 20px;
}

.map {
    float: right;

}

.TextFooter {
    text-align: center;
    position: initial;
}

.footer {
    left: 0;
    width: 100%;
    height: 300px;
    background-color: slategray;
    bottom: 0px;
    float:left;
}
